In [9]:
import pandas as pd
import os

# Current dir
current_dir = os.getcwd()

In [ ]:
url_tasa_desempleo = os.path.join(current_dir, '../../data/raw/extractions/tasa_desempleo_2018.csv')

tasa_desempleo = pd.read_csv(url_tasa_desempleo)

tasa_desempleo = tasa_desempleo.drop(columns = ["GeoID", "Series ID"])

tasa_desempleo = tasa_desempleo[tasa_desempleo['Month'].isin(['January', 'February', 'March', 'April', 'May'])]

tasa_desempleo

                       Place  Year     Month  Unemployment Rate
8                    Alabama  2018       May                3.5
9                    Alabama  2018     April                3.5
10                   Alabama  2018     March                4.0
11                   Alabama  2018  February                4.4
12                   Alabama  2018   January                4.4
...                      ...   ...       ...                ...
67257  Laramie city, Wyoming  2018       May                3.0
67258  Laramie city, Wyoming  2018     April                3.0
67259  Laramie city, Wyoming  2018     March                3.0
67260  Laramie city, Wyoming  2018  February                2.8
67261  Laramie city, Wyoming  2018   January                3.3

[25870 rows x 4 columns]

In [13]:
## Guardar en CSV
# Path
tasa_desempleo_path = os.path.join(current_dir, '../../data/raw/macrodata')
# Crear un directorio si no existe
os.makedirs(tasa_desempleo_path, exist_ok=True)
# Archivo CSV
tasa_desempleo_file = os.path.join(tasa_desempleo_path, "tasa_desempleo_por_estados.csv")
# Guardar dataframe en CSV
tasa_desempleo.to_csv(tasa_desempleo_file, index=False)